*{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#blogHomeContent {
	padding-top: 0;
}

.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../img/siteImages/cricketgroup.jpg");
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 0;
}

.politeWarning {
	color: crimson;
}

#delete-post-options {

  display: none;

}

.delete-comment-options {

  display: none;

}

.userIDDiv {

  display: none;
  
}



