#blogHomeContent {
	padding-top: 0;
}

.jumbotron {
  width: 100%;
  height: 250px;
  background-image: url("../img/cricketgroup.jpg");
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 0;
}

